{% use 'bootstrap_5_layout.html.twig' %}

{#
    Utilisation des sélecteurs "type de champ"_"fonction de rendu"
    Permet d'altérer un rendu ciblé
 #}
{% block integer_label %}
    <p>Saisissez le tarif en centimes</p>
    {{ block('form_label') }}
{% endblock %}

{% block form_label_content %}
    {{ parent() }}
    {% if checked is not defined and required %}
        <span class="badge text-bg-warning">requis</span>
    {% endif %}
{% endblock %}

{% block t_shirt_size_label %}
   {{ block('form_label') }}  - notre bloc personnalisé
{% endblock %}

{% block duration_widget %}
    {{ form_widget(form.hour) }}
    {{ form_widget(form.minute) }}
{% endblock %}
